<div class="absolute">
  <img src="../../../Image/netflixBg.jpg" alt="" class="img_bgrnd" />
</div>
<div
  class="w-full md:w-3/12 absolute right-0 left-0 p-12 bg-black my-36 mx-auto text-white rounded-lg bg-opacity-80"
>
  <h1 class="font-bold text-3xl py-4">Netflix Sign In</h1>
  <!-- now google authentication see the developer.google.com and follow instruction-->
  <!-- <div
    id="my-sign2"
    class="g-signin2 custom-button"
    data-onsuccess="onSignIn"
  ></div> -->
  <!-- <div
    id="googleSignInButton"
    class="g-signin2"
    data-type="standard"
    data-shape="pill"
    data-theme="filled_blue"
    data-size="large"
    data-logo_alignment="left"
    data-onsuccess="onSignIn"
  ></div> -->
  <!-- <div
    id="g_id_onload"
    data-client_id="5015763941-6l7vkl7gcfn1kinqiu2h0jqmm6ht1tek.apps.googleusercontent.com"
    data-context="signin"
    data-ux_mode="popup"
    data-login_uri="http://localhost:3000/api/login"
    data-auto_select="true"
    data-itp_support="true"
  ></div>

  <div
    class="g_id_signin"
    data-type="standard"
    data-shape="pill"
    data-theme="filled_blue"
    data-text="signin_with"
    data-size="large"
    data-logo_alignment="left"
  ></div> -->
  <div id="google-btn"></div>
</div>
